@import "tailwindcss";

:root {
  --background: #FDFBF7;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #6B9923;
  --color-secondary: #E45E66;
  --color-accent: #FAD05D;
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
